# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auto_ecole_db

# Security (Placeholder for next phases)
JWT_SECRET=super_secret_key_gabon_soverignty
KEYCLOAK_REALM=auto-ecole-gabon
KEYCLOAK_URL=http://localhost:8080
